.card {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: yellow;
  }

  .form-item ion-label,
  .form-item ion-input {
  color: black;
}

  
  
  .form-container {
    padding: 20px;
  }
  
  .form-item {
    margin-bottom: 10px;
  }
  
  ion-select {
    width: 100%;
  }
  
